In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv")

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,03/11/2021,KS,297229,241035.0,56194.0,0,0.0,4851,NaN,NaN,0,0.0,03/12/2021 03:20:13 PM,Agree,NaN
1,02/12/2021,UT,359641,359641.0,0.0,1060,0.0,1785,1729.0,56.0,11,2.0,02/13/2021 02:50:08 PM,Agree,Agree
2,03/01/2021,CO,438745,411869.0,26876.0,677,60.0,5952,5218.0,734.0,1,0.0,03/01/2021 12:00:00 AM,Agree,Agree
3,02/04/2020,AR,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Not agree,Not agree
4,05/09/2021,PW,0,NaN,NaN,0,0.0,0,NaN,NaN,0,0.0,05/10/2021 02:15:36 PM,NaN,NaN

In [6]:
def get_fips(state):
    state_dict = {
        'AL':'01',
        'AK':'02',
        'AZ':'04',
        'AR':'05',
        'CA':'06',
        'CO':'08',
        'CT':'09',
        'DE':'10',
        'FL':'12',
        'GA':'13',
        'HI':'15',
        'ID':'16',
        'IL':'17',
        'IN':'18',
        'IA':'19',
        'KS':'20',
        'KY':'21',
        'LA':'22',
        'ME':'23',
        'MD':'24',
        'MA':'25',
        'MI':'26',
        'MN':'27',
        'MS':'28',
        'MO':'29',
        'MT':'30',
        'NE':'31',
        'NV':'32',
        'NH':'33',
        'NJ':'34',
        'NM':'35',
        'NY':'36',
        'NC':'37',
        'ND':'38',
        'OH':'39',
        'OK':'40',
        'OR':'41',
        'PA':'42',
        'RI':'44',
        'SC':'45',
        'SD':'46',
        'TN':'47',
        'TX':'48',
        'UT':'49',
        'VT':'50',
        'VA':'51',
        'WA':'53',
        'WV':'54',
        'WI':'55',
        'WY':'56',
        'AS':'60',
        'GU':'66',
        'MP':'69',
        'PR':'72',
        'VI':'78',
        'PW':'70'
    }
    
    return state_dict[state]