In [1]:
import pandas as pd
import numpy as np

In [2]:
counties = pd.read_csv("us-counties.csv")

In [3]:
counties.head()

,date,geoid,county,state,cases,cases_avg,cases_avg_per_100k,deaths,deaths_avg,deaths_avg_per_100k
0,2020-01-21,USA-53061,Snohomish,Washington,1,0.14,0.02,0,0.0,0.0
1,2020-01-22,USA-53061,Snohomish,Washington,0,0.14,0.02,0,0.0,0.0
2,2020-01-23,USA-53061,Snohomish,Washington,0,0.14,0.02,0,0.0,0.0
3,2020-01-24,USA-53061,Snohomish,Washington,0,0.14,0.02,0,0.0,0.0
4,2020-01-24,USA-17031,Cook,Illinois,1,0.14,0.00,0,0.0,0.0

In [4]:
def get_fips(geoid):
    id_list = geoid.split("-")
    fips = id_list[1]
    return fips

In [5]:
counties["fips"] = counties['geoid'].apply(lambda x: get_fips(x))

In [6]:
counties.head()

,date,geoid,county,state,cases,cases_avg,cases_avg_per_100k,deaths,deaths_avg,deaths_avg_per_100k,fips
0,2020-01-21,USA-53061,Snohomish,Washington,1,0.14,0.02,0,0.0,0.0,53061
1,2020-01-22,USA-53061,Snohomish,Washington,0,0.14,0.02,0,0.0,0.0,53061
2,2020-01-23,USA-53061,Snohomish,Washington,0,0.14,0.02,0,0.0,0.0,53061
3,2020-01-24,USA-53061,Snohomish,Washington,0,0.14,0.02,0,0.0,0.0,53061
4,2020-01-24,USA-17031,Cook,Illinois,1,0.14,0.00,0,0.0,0.0,17031

In [7]:
counties.to_csv("counties_with_fips.csv")

In [8]:
lockdowns = pd.read_csv("U.S._State_and_Territorial_Stay-At-Home_Orders__March_15__2020___August_15__2021_by_County_by_Day.csv")

/Users/dev/miniforge3/envs/ml4t/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [9]:
lockdowns.head()

,State_Tribe_Territory,County_Name,FIPS_State,FIPS_County,date,Order_code,Stay_at_Home_Order_Recommendation,Express_Preemption,Source_of_Action,URL,Citation
0,AL,Autauga County,1,1,3/15/2020,7,NaN,NaN,NaN,NaN,NaN
1,AL,Autauga County,1,1,3/16/2020,7,NaN,NaN,NaN,NaN,NaN
2,AL,Autauga County,1,1,3/17/2020,7,NaN,NaN,NaN,NaN,NaN
3,AL,Autauga County,1,1,3/18/2020,7,NaN,NaN,NaN,NaN,NaN
4,AL,Autauga County,1,1,3/19/2020,7,NaN,NaN,NaN,NaN,NaN

In [10]:
lockdowns.tail()

,State_Tribe_Territory,County_Name,FIPS_State,FIPS_County,date,Order_code,Stay_at_Home_Order_Recommendation,Express_Preemption,Source_of_Action,URL,Citation
1677922,VI,St. Thomas Island,78,30,8/11/2021,6,Advisory/Recommendation,Unknown,Official,https://www.vi.gov/wp-content/uploads/2020/08/...,"V.I. Sixteenth Supp. Exec. Order (Sept. 8, 2020)"
1677923,VI,St. Thomas Island,78,30,8/12/2021,6,Advisory/Recommendation,Unknown,Official,https://www.vi.gov/wp-content/uploads/2020/08/...,"V.I. Sixteenth Supp. Exec. Order (Sept. 8, 2020)"
1677924,VI,St. Thomas Island,78,30,8/13/2021,6,Advisory/Recommendation,Unknown,Official,https://www.vi.gov/wp-content/uploads/2020/08/...,"V.I. Sixteenth Supp. Exec. Order (Sept. 8, 2020)"
1677925,VI,St. Thomas Island,78,30,8/14/2021,6,Advisory/Recommendation,Unknown,Official,https://www.vi.gov/wp-content/uploads/2020/08/...,"V.I. Sixteenth Supp. Exec. Order (Sept. 8, 2020)"
1677926,VI,St. Thomas Island,78,30,8/15/2021,6,Advisory/Recommendation,Unknown,Official,https://www.vi.gov/wp-content/uploads/2020/08/...,"V.I. Sixteenth Supp. Exec. Order (Sept. 8, 2020)"

In [11]:
lockdowns.Stay_at_Home_Order_Recommendation.unique()

array([nan, 'Mandatory for all individuals', 'Advisory/Recommendation',
       'No order for individuals to stay home',
       'Mandatory only for all individuals in certain areas of the jurisdiction',
       'Mandatory only for at-risk individuals in the jurisdiction',
       'Mandatory only for at-risk individuals in certain areas of the jurisdiction'],
      dtype=object)

In [12]:
lockdowns["Stay_at_Home_Order_Recommendation"] = lockdowns["Stay_at_Home_Order_Recommendation"].fillna(0)

In [13]:
lockdowns.head()

,State_Tribe_Territory,County_Name,FIPS_State,FIPS_County,date,Order_code,Stay_at_Home_Order_Recommendation,Express_Preemption,Source_of_Action,URL,Citation
0,AL,Autauga County,1,1,3/15/2020,7,0,NaN,NaN,NaN,NaN
1,AL,Autauga County,1,1,3/16/2020,7,0,NaN,NaN,NaN,NaN
2,AL,Autauga County,1,1,3/17/2020,7,0,NaN,NaN,NaN,NaN
3,AL,Autauga County,1,1,3/18/2020,7,0,NaN,NaN,NaN,NaN
4,AL,Autauga County,1,1,3/19/2020,7,0,NaN,NaN,NaN,NaN

In [14]:
lockdowns.Stay_at_Home_Order_Recommendation.unique()

array([0, 'Mandatory for all individuals', 'Advisory/Recommendation',
       'No order for individuals to stay home',
       'Mandatory only for all individuals in certain areas of the jurisdiction',
       'Mandatory only for at-risk individuals in the jurisdiction',
       'Mandatory only for at-risk individuals in certain areas of the jurisdiction'],
      dtype=object)

In [15]:
lock_dict = {0:0,'No order for individuals to stay home': 0, 'Advisory/Recommendation': 1, 
             'Mandatory only for at-risk individuals in certain areas of the jurisdiction': 2,
            'Mandatory only for at-risk individuals in the jurisdiction': 3,
            'Mandatory only for all individuals in certain areas of the jurisdiction': 4,
            'Mandatory for all individuals': 5}

In [16]:
def get_lock_level(lock_code):
    
    return lock_dict[lock_code]

In [17]:
lockdowns['lockdown'] = lockdowns['Stay_at_Home_Order_Recommendation'].apply(lambda x: get_lock_level(x))

In [18]:
lockdowns.tail()

,State_Tribe_Territory,County_Name,FIPS_State,FIPS_County,date,Order_code,Stay_at_Home_Order_Recommendation,Express_Preemption,Source_of_Action,URL,Citation,lockdown
1677922,VI,St. Thomas Island,78,30,8/11/2021,6,Advisory/Recommendation,Unknown,Official,https://www.vi.gov/wp-content/uploads/2020/08/...,"V.I. Sixteenth Supp. Exec. Order (Sept. 8, 2020)",1
1677923,VI,St. Thomas Island,78,30,8/12/2021,6,Advisory/Recommendation,Unknown,Official,https://www.vi.gov/wp-content/uploads/2020/08/...,"V.I. Sixteenth Supp. Exec. Order (Sept. 8, 2020)",1
1677924,VI,St. Thomas Island,78,30,8/13/2021,6,Advisory/Recommendation,Unknown,Official,https://www.vi.gov/wp-content/uploads/2020/08/...,"V.I. Sixteenth Supp. Exec. Order (Sept. 8, 2020)",1
1677925,VI,St. Thomas Island,78,30,8/14/2021,6,Advisory/Recommendation,Unknown,Official,https://www.vi.gov/wp-content/uploads/2020/08/...,"V.I. Sixteenth Supp. Exec. Order (Sept. 8, 2020)",1
1677926,VI,St. Thomas Island,78,30,8/15/2021,6,Advisory/Recommendation,Unknown,Official,https://www.vi.gov/wp-content/uploads/2020/08/...,"V.I. Sixteenth Supp. Exec. Order (Sept. 8, 2020)",1

In [19]:
lockdowns_clean = lockdowns[['State_Tribe_Territory', 'County_Name', 'FIPS_State', 'FIPS_County', 'date', 'lockdown']]

In [20]:
lockdowns_clean.head()

,State_Tribe_Territory,County_Name,FIPS_State,FIPS_County,date,lockdown
0,AL,Autauga County,1,1,3/15/2020,0
1,AL,Autauga County,1,1,3/16/2020,0
2,AL,Autauga County,1,1,3/17/2020,0
3,AL,Autauga County,1,1,3/18/2020,0
4,AL,Autauga County,1,1,3/19/2020,0

In [21]:
lockdowns_clean.to_csv("lockdowns_data.csv")

In [22]:
def pad_state(fips_state):
    state_str = str(fips_state)
    state_fips = state_str.rjust(2,'0')
    return state_fips

In [23]:
lockdowns_clean['state_fips'] = lockdowns_clean['FIPS_State'].apply(lambda x: pad_state(x))

/var/folders/ky/r974vvmx32736_dyqbk1rf9c0000gn/T/ipykernel_54484/1346758791.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lockdowns_clean['state_fips'] = lockdowns_clean['FIPS_State'].apply(lambda x: pad_state(x))

In [24]:
lockdowns_clean

,State_Tribe_Territory,County_Name,FIPS_State,FIPS_County,date,lockdown,state_fips
0,AL,Autauga County,1,1,3/15/2020,0,01
1,AL,Autauga County,1,1,3/16/2020,0,01
2,AL,Autauga County,1,1,3/17/2020,0,01
3,AL,Autauga County,1,1,3/18/2020,0,01
4,AL,Autauga County,1,1,3/19/2020,0,01
...,...,...,...,...,...,...,...
1677922,VI,St. Thomas Island,78,30,8/11/2021,1,78
1677923,VI,St. Thomas Island,78,30,8/12/2021,1,78
1677924,VI,St. Thomas Island,78,30,8/13/2021,1,78
1677925,VI,St. Thomas Island,78,30,8/14/2021,1,78
1677926,VI,St. Thomas Island,78,30,8/15/2021,1,78

In [25]:
def pad_county(fips_county):
    county_str = str(fips_county)
    county_fips = county_str.rjust(3, '0')
    return county_fips

In [26]:
lockdowns_clean['county_fips'] = lockdowns_clean['FIPS_County'].apply(lambda x: pad_county(x))

/var/folders/ky/r974vvmx32736_dyqbk1rf9c0000gn/T/ipykernel_54484/1245118363.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lockdowns_clean['county_fips'] = lockdowns_clean['FIPS_County'].apply(lambda x: pad_county(x))

In [27]:
lockdowns_clean.head()

,State_Tribe_Territory,County_Name,FIPS_State,FIPS_County,date,lockdown,state_fips,county_fips
0,AL,Autauga County,1,1,3/15/2020,0,01,001
1,AL,Autauga County,1,1,3/16/2020,0,01,001
2,AL,Autauga County,1,1,3/17/2020,0,01,001
3,AL,Autauga County,1,1,3/18/2020,0,01,001
4,AL,Autauga County,1,1,3/19/2020,0,01,001

In [28]:
lockdowns_clean['fips'] = lockdowns_clean['state_fips'] + lockdowns_clean['county_fips']

/var/folders/ky/r974vvmx32736_dyqbk1rf9c0000gn/T/ipykernel_54484/1084140370.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lockdowns_clean['fips'] = lockdowns_clean['state_fips'] + lockdowns_clean['county_fips']

In [29]:
lockdowns_clean.head()

,State_Tribe_Territory,County_Name,FIPS_State,FIPS_County,date,lockdown,state_fips,county_fips,fips
0,AL,Autauga County,1,1,3/15/2020,0,01,001,01001
1,AL,Autauga County,1,1,3/16/2020,0,01,001,01001
2,AL,Autauga County,1,1,3/17/2020,0,01,001,01001
3,AL,Autauga County,1,1,3/18/2020,0,01,001,01001
4,AL,Autauga County,1,1,3/19/2020,0,01,001,01001

In [30]:
lock_clean = lockdowns_clean[['State_Tribe_Territory', 'County_Name', 'date', 'lockdown','fips' ]]

In [31]:
lock_clean.head()

  State_Tribe_Territory     County_Name       date  lockdown   fips
0                    AL  Autauga County  3/15/2020         0  01001
1                    AL  Autauga County  3/16/2020         0  01001
2                    AL  Autauga County  3/17/2020         0  01001
3                    AL  Autauga County  3/18/2020         0  01001
4                    AL  Autauga County  3/19/2020         0  01001

In [32]:
lock_clean.to_csv("lock_clean.csv")

In [33]:
df = pd.read_csv("new_CMaster_HPS_CDC_CPS_NYC_Vaccinated.csv")

/Users/dev/miniforge3/envs/ml4t/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [34]:
df.head()

,Unnamed: 0,YMFIPS_x,YEAR,MONTH,FIPS,STATE,STATE_CODE,TBIRTH_YEAR,EEDUC,THHLD_NUMPER,...,CDCCOUNT,REMPCT,people_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated,people_fully_vaccinated_per_hundred,ANXIOUS,WORRY,DOWN,cases_avg_per_100k
0,0,2021-9-01,2021,SEP,1.0,Alabama,AL,1941,7,1,...,44878.0,0.032,2583590.0,52.69,2089852.0,42.62,1,1,1,2148.73
1,1,2021-9-01,2021,SEP,1.0,Alabama,AL,1973,4,3,...,44878.0,0.032,2583590.0,52.69,2089852.0,42.62,4,1,1,2148.73
2,2,2021-9-13,2021,SEP,13.0,Georgia,GA,1970,4,1,...,58816.0,0.043,5828605.0,54.90,4823331.0,45.43,1,1,3,1772.88
3,3,2021-9-01,2021,SEP,1.0,Alabama,AL,1969,3,6,...,44878.0,0.032,2583590.0,52.69,2089852.0,42.62,3,3,1,2148.73
4,4,2021-9-01,2021,SEP,1.0,Alabama,AL,1977,4,3,...,44878.0,0.032,2583590.0,52.69,2089852.0,42.62,4,4,4,2148.73

In [35]:
df.columns

Index(['Unnamed: 0', 'YMFIPS_x', 'YEAR', 'MONTH', 'FIPS', 'STATE',
       'STATE_CODE', 'TBIRTH_YEAR', 'EEDUC', 'THHLD_NUMPER', 'THHLD_NUMKID',
       'THHLD_NUMADLT', 'WRKLOSS', 'KINDWORK', 'MORTLMTH', 'MORTCONF',
       'INCOME', 'CDCCOUNT', 'REMPCT', 'people_vaccinated',
       'people_vaccinated_per_hundred', 'people_fully_vaccinated',
       'people_fully_vaccinated_per_hundred', 'ANXIOUS', 'WORRY', 'DOWN',
       'cases_avg_per_100k'],
      dtype='object')

In [36]:
df_s = df[['YMFIPS_x', 'STATE_CODE','WRKLOSS', 'KINDWORK', 'MORTLMTH', 'MORTCONF',
       'INCOME', 'CDCCOUNT', 'REMPCT', 'people_vaccinated',
       'people_vaccinated_per_hundred', 'people_fully_vaccinated',
       'people_fully_vaccinated_per_hundred', 'ANXIOUS', 'WORRY', 'DOWN',
       'cases_avg_per_100k']]

In [37]:
df_s.head()

,YMFIPS_x,STATE_CODE,WRKLOSS,KINDWORK,MORTLMTH,MORTCONF,INCOME,CDCCOUNT,REMPCT,people_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated,people_fully_vaccinated_per_hundred,ANXIOUS,WORRY,DOWN,cases_avg_per_100k
0,2021-9-01,AL,2,-88,-88,-88,4,44878.0,0.032,2583590.0,52.69,2089852.0,42.62,1,1,1,2148.73
1,2021-9-01,AL,2,5,1,4,6,44878.0,0.032,2583590.0,52.69,2089852.0,42.62,4,1,1,2148.73
2,2021-9-13,GA,1,-88,1,3,1,58816.0,0.043,5828605.0,54.90,4823331.0,45.43,1,1,3,1772.88
3,2021-9-01,AL,1,2,-88,-88,-88,44878.0,0.032,2583590.0,52.69,2089852.0,42.62,3,3,1,2148.73
4,2021-9-01,AL,2,4,-88,-88,-88,44878.0,0.032,2583590.0,52.69,2089852.0,42.62,4,4,4,2148.73

In [38]:
def clean_data(value):
    if value == -88:
        return None
    else:
        return value

In [39]:
df_s['KINDWORK'] = df_s['KINDWORK'].apply(lambda x: clean_data(x))

/var/folders/ky/r974vvmx32736_dyqbk1rf9c0000gn/T/ipykernel_54484/3230307974.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_s['KINDWORK'] = df_s['KINDWORK'].apply(lambda x: clean_data(x))

In [40]:
df_s['WRKLOSS'] = df_s['WRKLOSS'].apply(lambda x: clean_data(x))

/var/folders/ky/r974vvmx32736_dyqbk1rf9c0000gn/T/ipykernel_54484/2856348234.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_s['WRKLOSS'] = df_s['WRKLOSS'].apply(lambda x: clean_data(x))

In [41]:
df_s['MORTLMTH'] = df_s['MORTLMTH'].apply(lambda x: clean_data(x))

/var/folders/ky/r974vvmx32736_dyqbk1rf9c0000gn/T/ipykernel_54484/226982880.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_s['MORTLMTH'] = df_s['MORTLMTH'].apply(lambda x: clean_data(x))

In [42]:
df_s['MORTLMTH'] = df_s['MORTLMTH'].apply(lambda x: clean_data(x))

/var/folders/ky/r974vvmx32736_dyqbk1rf9c0000gn/T/ipykernel_54484/226982880.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_s['MORTLMTH'] = df_s['MORTLMTH'].apply(lambda x: clean_data(x))

In [43]:
df_s['MORTCONF'] = df_s['MORTCONF'].apply(lambda x: clean_data(x))

/var/folders/ky/r974vvmx32736_dyqbk1rf9c0000gn/T/ipykernel_54484/4271545138.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_s['MORTCONF'] = df_s['MORTCONF'].apply(lambda x: clean_data(x))

In [44]:
df_s['INCOME'] = df_s['INCOME'].apply(lambda x: clean_data(x))

/var/folders/ky/r974vvmx32736_dyqbk1rf9c0000gn/T/ipykernel_54484/529901198.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_s['INCOME'] = df_s['INCOME'].apply(lambda x: clean_data(x))

In [45]:
df_s['ANXIOUS'] = df_s['ANXIOUS'].apply(lambda x: clean_data(x))

/var/folders/ky/r974vvmx32736_dyqbk1rf9c0000gn/T/ipykernel_54484/2113046855.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_s['ANXIOUS'] = df_s['ANXIOUS'].apply(lambda x: clean_data(x))

In [46]:
df_s['WORRY'] = df_s['WORRY'].apply(lambda x: clean_data(x))

/var/folders/ky/r974vvmx32736_dyqbk1rf9c0000gn/T/ipykernel_54484/3551121925.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_s['WORRY'] = df_s['WORRY'].apply(lambda x: clean_data(x))

In [47]:
df_s['DOWN'] = df_s['DOWN'].apply(lambda x: clean_data(x))

/var/folders/ky/r974vvmx32736_dyqbk1rf9c0000gn/T/ipykernel_54484/3759655256.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_s['DOWN'] = df_s['DOWN'].apply(lambda x: clean_data(x))

In [48]:
df_grouped = df_s.groupby(['YMFIPS_x', 'STATE_CODE']).mean()

In [49]:
df_grouped.head()

,,WRKLOSS,KINDWORK,MORTLMTH,MORTCONF,INCOME,CDCCOUNT,REMPCT,people_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated,people_fully_vaccinated_per_hundred,ANXIOUS,WORRY,DOWN,cases_avg_per_100k
YMFIPS_x,STATE_CODE,,,,,,,,,,,,,,,
2020-10-01,AL,1.026105,0.296992,0.950820,3.274354,0.732680,37989.0,0.043,NaN,NaN,NaN,NaN,1.421018,1.161880,1.086162,676.84
2020-10-02,AK,1.054201,1.091467,0.466077,3.298469,1.258077,9349.0,0.090,NaN,NaN,NaN,NaN,1.509970,1.120753,1.031019,917.13
2020-10-04,AZ,1.028060,0.541275,0.881335,3.517942,0.841176,33382.0,0.106,NaN,NaN,NaN,NaN,1.618283,1.132180,1.054972,335.38
2020-10-05,AR,0.999472,0.267389,1.082287,3.232982,0.261745,22669.0,0.054,NaN,NaN,NaN,NaN,1.955808,1.691288,1.587753,910.97
2020-10-06,CA,1.004878,0.791328,0.844349,3.453308,1.337442,123849.0,0.129,NaN,NaN,NaN,NaN,1.596319,1.232863,1.126626,280.64

In [50]:
df_grouped.reset_index(inplace=True)

In [51]:
df_grouped.head()

,YMFIPS_x,STATE_CODE,WRKLOSS,KINDWORK,MORTLMTH,MORTCONF,INCOME,CDCCOUNT,REMPCT,people_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated,people_fully_vaccinated_per_hundred,ANXIOUS,WORRY,DOWN,cases_avg_per_100k
0,2020-10-01,AL,1.026105,0.296992,0.950820,3.274354,0.732680,37989.0,0.043,NaN,NaN,NaN,NaN,1.421018,1.161880,1.086162,676.84
1,2020-10-02,AK,1.054201,1.091467,0.466077,3.298469,1.258077,9349.0,0.090,NaN,NaN,NaN,NaN,1.509970,1.120753,1.031019,917.13
2,2020-10-04,AZ,1.028060,0.541275,0.881335,3.517942,0.841176,33382.0,0.106,NaN,NaN,NaN,NaN,1.618283,1.132180,1.054972,335.38
3,2020-10-05,AR,0.999472,0.267389,1.082287,3.232982,0.261745,22669.0,0.054,NaN,NaN,NaN,NaN,1.955808,1.691288,1.587753,910.97
4,2020-10-06,CA,1.004878,0.791328,0.844349,3.453308,1.337442,123849.0,0.129,NaN,NaN,NaN,NaN,1.596319,1.232863,1.126626,280.64

In [52]:
df_grouped.fillna(0, inplace=True)

In [53]:
df_grouped.head()

,YMFIPS_x,STATE_CODE,WRKLOSS,KINDWORK,MORTLMTH,MORTCONF,INCOME,CDCCOUNT,REMPCT,people_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated,people_fully_vaccinated_per_hundred,ANXIOUS,WORRY,DOWN,cases_avg_per_100k
0,2020-10-01,AL,1.026105,0.296992,0.950820,3.274354,0.732680,37989.0,0.043,0.0,0.0,0.0,0.0,1.421018,1.161880,1.086162,676.84
1,2020-10-02,AK,1.054201,1.091467,0.466077,3.298469,1.258077,9349.0,0.090,0.0,0.0,0.0,0.0,1.509970,1.120753,1.031019,917.13
2,2020-10-04,AZ,1.028060,0.541275,0.881335,3.517942,0.841176,33382.0,0.106,0.0,0.0,0.0,0.0,1.618283,1.132180,1.054972,335.38
3,2020-10-05,AR,0.999472,0.267389,1.082287,3.232982,0.261745,22669.0,0.054,0.0,0.0,0.0,0.0,1.955808,1.691288,1.587753,910.97
4,2020-10-06,CA,1.004878,0.791328,0.844349,3.453308,1.337442,123849.0,0.129,0.0,0.0,0.0,0.0,1.596319,1.232863,1.126626,280.64

In [54]:
df_grouped.to_csv('master_viz_test.csv')

In [55]:
df_grouped.columns

Index(['YMFIPS_x', 'STATE_CODE', 'WRKLOSS', 'KINDWORK', 'MORTLMTH', 'MORTCONF',
       'INCOME', 'CDCCOUNT', 'REMPCT', 'people_vaccinated',
       'people_vaccinated_per_hundred', 'people_fully_vaccinated',
       'people_fully_vaccinated_per_hundred', 'ANXIOUS', 'WORRY', 'DOWN',
       'cases_avg_per_100k'],
      dtype='object')

In [56]:
def get_year_month(ymfips):
    split_st = ymfips.split("-")
    year = split_st[0]
    month_dirty = split_st[1]
    month_clean = month_dirty.rjust(2, '0')
    clean_list = [month_clean, year]
    month_year = "/".join(clean_list)
    return month_year

In [57]:
df_grouped['month_year'] = df_grouped['YMFIPS_x'].apply(lambda x: get_year_month(x))

In [58]:
df_grouped.head()

,YMFIPS_x,STATE_CODE,WRKLOSS,KINDWORK,MORTLMTH,MORTCONF,INCOME,CDCCOUNT,REMPCT,people_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated,people_fully_vaccinated_per_hundred,ANXIOUS,WORRY,DOWN,cases_avg_per_100k,month_year
0,2020-10-01,AL,1.026105,0.296992,0.950820,3.274354,0.732680,37989.0,0.043,0.0,0.0,0.0,0.0,1.421018,1.161880,1.086162,676.84,10/2020
1,2020-10-02,AK,1.054201,1.091467,0.466077,3.298469,1.258077,9349.0,0.090,0.0,0.0,0.0,0.0,1.509970,1.120753,1.031019,917.13,10/2020
2,2020-10-04,AZ,1.028060,0.541275,0.881335,3.517942,0.841176,33382.0,0.106,0.0,0.0,0.0,0.0,1.618283,1.132180,1.054972,335.38,10/2020
3,2020-10-05,AR,0.999472,0.267389,1.082287,3.232982,0.261745,22669.0,0.054,0.0,0.0,0.0,0.0,1.955808,1.691288,1.587753,910.97,10/2020
4,2020-10-06,CA,1.004878,0.791328,0.844349,3.453308,1.337442,123849.0,0.129,0.0,0.0,0.0,0.0,1.596319,1.232863,1.126626,280.64,10/2020

In [59]:
df_grouped.to_csv('master_viz_test.csv')

In [60]:
df_grouped

,YMFIPS_x,STATE_CODE,WRKLOSS,KINDWORK,MORTLMTH,MORTCONF,INCOME,CDCCOUNT,REMPCT,people_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated,people_fully_vaccinated_per_hundred,ANXIOUS,WORRY,DOWN,cases_avg_per_100k,month_year
0,2020-10-01,AL,1.026105,0.296992,0.950820,3.274354,0.732680,37989.0,0.043,0.0,0.00,0.0,0.00,1.421018,1.161880,1.086162,676.84,10/2020
1,2020-10-02,AK,1.054201,1.091467,0.466077,3.298469,1.258077,9349.0,0.090,0.0,0.00,0.0,0.00,1.509970,1.120753,1.031019,917.13,10/2020
2,2020-10-04,AZ,1.028060,0.541275,0.881335,3.517942,0.841176,33382.0,0.106,0.0,0.00,0.0,0.00,1.618283,1.132180,1.054972,335.38,10/2020
3,2020-10-05,AR,0.999472,0.267389,1.082287,3.232982,0.261745,22669.0,0.054,0.0,0.00,0.0,0.00,1.955808,1.691288,1.587753,910.97,10/2020
4,2020-10-06,CA,1.004878,0.791328,0.844349,3.453308,1.337442,123849.0,0.129,0.0,0.00,0.0,0.00,1.596319,1.232863,1.126626,280.64,10/2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840,2021-9-50,VT,1.471322,1.681159,1.049226,3.569579,2.031954,893.0,0.058,484962.0,77.72,433565.0,69.48,1.293162,0.863913,1.224780,859.29,09/2021
841,2021-9-51,VA,1.189683,1.073668,0.941993,3.641434,1.183972,12263.0,0.096,5839079.0,68.41,5170550.0,60.58,1.203787,0.960887,0.925012,1182.03,09/2021
842,2021-9-53,WA,1.080083,1.137300,0.906239,3.604907,2.015739,37333.0,0.096,5118060.0,67.21,4631921.0,60.83,1.372359,1.040032,0.922319,1265.90,09/2021
843,2021-9-55,WI,0.770526,1.055395,0.785077,3.589089,0.773371,19138.0,0.044,3547981.0,60.94,3286121.0,56.44,0.842461,0.627532,0.641785,1249.14,09/2021
844,2021-9-56,WY,0.855862,0.131609,1.055468,3.487085,0.331811,5774.0,0.032,280635.0,48.49,240814.0,41.61,0.651228,0.512982,0.428070,2634.07,09/2021

In [61]:
lock_clean.head()

  State_Tribe_Territory     County_Name       date  lockdown   fips
0                    AL  Autauga County  3/15/2020         0  01001
1                    AL  Autauga County  3/16/2020         0  01001
2                    AL  Autauga County  3/17/2020         0  01001
3                    AL  Autauga County  3/18/2020         0  01001
4                    AL  Autauga County  3/19/2020         0  01001

In [62]:
def get_month(date):
    date_list = date.split("/")
    month = date_list[0]
    
    return month

In [63]:
lock_clean['month'] = lock_clean['date'].apply(lambda x: get_month(x))

/var/folders/ky/r974vvmx32736_dyqbk1rf9c0000gn/T/ipykernel_54484/1774945490.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lock_clean['month'] = lock_clean['date'].apply(lambda x: get_month(x))

In [64]:
lock_clean.head()

  State_Tribe_Territory     County_Name       date  lockdown   fips month
0                    AL  Autauga County  3/15/2020         0  01001     3
1                    AL  Autauga County  3/16/2020         0  01001     3
2                    AL  Autauga County  3/17/2020         0  01001     3
3                    AL  Autauga County  3/18/2020         0  01001     3
4                    AL  Autauga County  3/19/2020         0  01001     3

In [65]:
def get_year(date):
    date_list = date.split("/")
    year = date_list[2]
    return year

In [66]:
lock_clean['year'] = lock_clean['date'].apply(lambda x: get_year(x))

/var/folders/ky/r974vvmx32736_dyqbk1rf9c0000gn/T/ipykernel_54484/653072401.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lock_clean['year'] = lock_clean['date'].apply(lambda x: get_year(x))

In [67]:
lock_clean.head()

,State_Tribe_Territory,County_Name,date,lockdown,fips,month,year
0,AL,Autauga County,3/15/2020,0,01001,3,2020
1,AL,Autauga County,3/16/2020,0,01001,3,2020
2,AL,Autauga County,3/17/2020,0,01001,3,2020
3,AL,Autauga County,3/18/2020,0,01001,3,2020
4,AL,Autauga County,3/19/2020,0,01001,3,2020

In [68]:
lockdowns_clean.head()

,State_Tribe_Territory,County_Name,FIPS_State,FIPS_County,date,lockdown,state_fips,county_fips,fips
0,AL,Autauga County,1,1,3/15/2020,0,01,001,01001
1,AL,Autauga County,1,1,3/16/2020,0,01,001,01001
2,AL,Autauga County,1,1,3/17/2020,0,01,001,01001
3,AL,Autauga County,1,1,3/18/2020,0,01,001,01001
4,AL,Autauga County,1,1,3/19/2020,0,01,001,01001

In [69]:
lock_clean['state_fips'] = lockdowns_clean['state_fips']

/var/folders/ky/r974vvmx32736_dyqbk1rf9c0000gn/T/ipykernel_54484/3201080827.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lock_clean['state_fips'] = lockdowns_clean['state_fips']

In [70]:
lock_clean.head()

,State_Tribe_Territory,County_Name,date,lockdown,fips,month,year,state_fips
0,AL,Autauga County,3/15/2020,0,01001,3,2020,01
1,AL,Autauga County,3/16/2020,0,01001,3,2020,01
2,AL,Autauga County,3/17/2020,0,01001,3,2020,01
3,AL,Autauga County,3/18/2020,0,01001,3,2020,01
4,AL,Autauga County,3/19/2020,0,01001,3,2020,01

In [71]:
lock_clean['YMFIPS'] = lock_clean['year'] +"-" + lock_clean['month'] + '-' + lock_clean['state_fips']

In [72]:
lock_clean.head()

,State_Tribe_Territory,County_Name,date,lockdown,fips,month,year,state_fips,YMFIPS
0,AL,Autauga County,3/15/2020,0,01001,3,2020,01,2020-3-01
1,AL,Autauga County,3/16/2020,0,01001,3,2020,01,2020-3-01
2,AL,Autauga County,3/17/2020,0,01001,3,2020,01,2020-3-01
3,AL,Autauga County,3/18/2020,0,01001,3,2020,01,2020-3-01
4,AL,Autauga County,3/19/2020,0,01001,3,2020,01,2020-3-01

In [73]:
lock_ymfips = lock_clean[['YMFIPS', 'lockdown']]

In [74]:
lock_ymfips

            YMFIPS  lockdown
0        2020-3-01         0
1        2020-3-01         0
2        2020-3-01         0
3        2020-3-01         0
4        2020-3-01         0
...            ...       ...
1677922  2021-8-78         1
1677923  2021-8-78         1
1677924  2021-8-78         1
1677925  2021-8-78         1
1677926  2021-8-78         1

[1677927 rows x 2 columns]

In [75]:
master = pd.read_csv("CummulatedClean_Nov22/1_CMaster_HPS_CDC_CPS_Vaccinated_3131705_with_lock.csv")

/Users/dev/miniforge3/envs/ml4t/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [86]:
lock_dict = pd.Series(lock_ymfips.lockdown.values,index= lock_ymfips.YMFIPS).to_dict()

In [88]:
lock_dict

{'2020-3-01': 0,
 '2020-4-01': 1,
 '2020-5-01': 1,
 '2020-6-01': 1,
 '2020-7-01': 1,
 '2020-8-01': 1,
 '2020-9-01': 1,
 '2020-10-01': 1,
 '2020-11-01': 1,
 '2020-12-01': 1,
 '2020-3-02': 5,
 '2020-4-02': 0,
 '2020-5-02': 0,
 '2020-6-02': 0,
 '2020-7-02': 0,
 '2020-8-02': 0,
 '2020-9-02': 0,
 '2020-10-02': 0,
 '2020-11-02': 0,
 '2020-12-02': 0,
 '2020-7-05': 0,
 '2020-4-04': 5,
 '2020-8-05': 0,
 '2020-9-05': 0,
 '2020-10-05': 0,
 '2020-3-04': 5,
 '2020-5-04': 0,
 '2020-4-05': 0,
 '2020-5-05': 0,
 '2020-6-05': 0,
 '2020-6-04': 0,
 '2020-7-04': 0,
 '2020-8-04': 0,
 '2020-9-04': 0,
 '2020-10-04': 0,
 '2020-11-04': 0,
 '2020-12-04': 0,
 '2020-3-05': 0,
 '2020-11-05': 0,
 '2020-12-05': 0,
 '2020-3-06': 5,
 '2020-4-06': 5,
 '2020-8-06': 1,
 '2020-5-06': 1,
 '2020-6-06': 1,
 '2020-7-06': 1,
 '2020-9-06': 1,
 '2020-10-06': 1,
 '2020-11-06': 1,
 '2020-12-06': 4,
 '2020-3-08': 5,
 '2020-11-08': 1,
 '2020-4-08': 1,
 '2020-5-08': 1,
 '2020-6-08': 1,
 '2020-7-08': 1,
 '2020-8-08': 1,
 '2020-9-08': 1,
 '2020-12-08': 1,
 '2020-10-08': 1,
 '2020-3-10': 5,
 '2020-11-11': 0,
 '2020-12-11': 0,
 '2020-3-12': 1,
 '2020-3-09': 0,
 '2020-4-09': 0,
 '2020-5-10': 1,
 '2020-6-10': 1,
 '2020-5-09': 0,
 '2020-6-09': 0,
 '2020-7-09': 0,
 '2020-8-09': 0,
 '2020-9-09': 0,
 '2020-10-09': 0,
 '2020-11-09': 0,
 '2020-12-09': 0,
 '2020-7-10': 1,
 '2020-8-10': 1,
 '2020-4-10': 5,
 '2020-9-10': 0,
 '2020-10-10': 0,
 '2020-11-10': 0,
 '2020-12-10': 1,
 '2020-3-11': 0,
 '2020-4-11': 5,
 '2020-9-12': 0,
 '2020-6-11': 0,
 '2020-5-11': 0,
 '2020-10-11': 0,
 '2020-7-11': 0,
 '2020-8-11': 0,
 '2020-9-11': 0,
 '2020-4-12': 5,
 '2020-5-12': 1,
 '2020-6-12': 1,
 '2020-7-12': 1,
 '2020-8-12': 1,
 '2020-10-12': 0,
 '2020-11-12': 0,
 '2020-12-12': 0,
 '2020-3-13': 3,
 '2020-4-13': 3,
 '2020-5-13': 3,
 '2020-6-13': 3,
 '2020-7-13': 3,
 '2020-8-13': 3,
 '2020-9-13': 3,
 '2020-10-13': 3,
 '2020-11-13': 3,
 '2020-12-13': 3,
 '2020-3-16': 5,
 '2020-3-17': 5,
 '2020-6-15': 1,
 '2020-3-18': 5,
 '2020-3-19': 0,
 '2020-4-19': 1,
 '2020-7-15': 1,
 '2020-3-15': 5,
 '2020-4-15': 5,
 '2020-5-15': 5,
 '2020-8-15': 1,
 '2020-9-15': 1,
 '2020-10-15': 1,
 '2020-11-15': 1,
 '2020-12-15': 1,
 '2020-4-16': 5,
 '2020-11-18': 1,
 '2020-5-16': 1,
 '2020-6-16': 0,
 '2020-7-16': 0,
 '2020-8-16': 0,
 '2020-9-16': 0,
 '2020-10-16': 0,
 '2020-11-16': 1,
 '2020-12-16': 1,
 '2020-12-18': 1,
 '2020-12-17': 1,
 '2020-11-17': 1,
 '2020-4-17': 5,
 '2020-5-17': 1,
 '2020-6-17': 1,
 '2020-7-17': 1,
 '2020-8-17': 1,
 '2020-9-17': 1,
 '2020-10-17': 1,
 '2020-4-18': 5,
 '2020-5-18': 1,
 '2020-6-18': 1,
 '2020-7-18': 1,
 '2020-8-18': 1,
 '2020-10-18': 1,
 '2020-9-18': 1,
 '2020-5-19': 1,
 '2020-6-19': 1,
 '2020-7-19': 1,
 '2020-8-19': 1,
 '2020-9-19': 1,
 '2020-10-19': 1,
 '2020-11-19': 1,
 '2020-12-19': 1,
 '2020-3-20': 5,
 '2020-6-20': 0,
 '2020-4-20': 5,
 '2020-5-20': 0,
 '2020-7-20': 0,
 '2020-8-20': 0,
 '2020-9-20': 0,
 '2020-10-20': 0,
 '2020-11-20': 0,
 '2020-12-20': 0,
 '2020-3-21': 1,
 '2020-4-21': 1,
 '2020-5-21': 1,
 '2020-6-21': 1,
 '2020-7-21': 1,
 '2020-8-21': 1,
 '2020-9-21': 1,
 '2020-10-21': 1,
 '2020-11-21': 1,
 '2020-12-21': 1,
 '2020-3-22': 5,
 '2020-10-22': 1,
 '2020-11-22': 1,
 '2020-12-22': 1,
 '2020-9-22': 1,
 '2020-5-22': 1,
 '2020-4-22': 5,
 '2020-6-22': 1,
 '2020-7-22': 1,
 '2020-8-22': 1,
 '2020-3-23': 0,
 '2020-4-23': 5,
 '2020-5-23': 1,
 '2020-6-23': 1,
 '2020-7-23': 1,
 '2020-8-23': 1,
 '2020-9-23': 1,
 '2020-10-23': 1,
 '2020-11-23': 1,
 '2020-12-23': 1,
 '2020-3-24': 5,
 '2020-4-24': 5,
 '2020-6-25': 1,
 '2020-5-24': 0,
 '2020-6-24': 0,
 '2020-7-24': 0,
 '2020-8-24': 0,
 '2020-9-24': 0,
 '2020-10-24': 0,
 '2020-11-24': 0,
 '2020-12-24': 0,
 '2020-3-25': 1,
 '2020-4-25': 1,
 '2020-5-25': 1,
 '2020-7-25': 1,
 '2020-8-25': 1,
 '2020-9-25': 1,
 '2020-10-25': 1,
 '2020-11-25': 0,
 '2020-12-25': 0,
 '2020-3-26': 5,
 '2020-4-26': 5,
 '2020-5-26': 1,
 '2020-6-26': 0,
 '2020-7-26': 0,
 '2020-8-26': 0,
 '2020-9-26': 0,
 '2020-10-26': 0,
 '2020-11-26': 0,
 '2020-12-26': 0,
 '2020-3-27': 5,
 '2020-4-27': 5,
 '2020-5-27': 1,
 '2020-6-27': 1,
 '2020-7-27': 1,
 '2020-8-27': 1,
 '2020-9-27': 1,
 '2020-10-27': 1,
 '2020-11-27': 1,
 '2020-12-27': 1,
 '2020-3-28': 0,
 '2020-4-28': 1,
 '2020-7-28': 1,
 '2020-8-28': 1,
 '2020-9-28': 0,
 '2020-10-28': 0,
 '2020-11-28': 0,
 '2020-12-28': 0,
 '2020-6-29': 0,
 '2020-3-29': 0,
 '2020-5-28': 1,
 '2020-6-28': 1,
 '2020-4-29': 5,
 '2020-7-29': 0,
 '2020-5-29': 1,
 '2020-8-29': 0,
 '2020-9-29': 0,
 '2020-10-29': 0,
 '2020-11-29': 0,
 '2020-12-29': 0,
 '2020-3-30': 5,
 '2020-3-31': 0,
 '2020-4-31': 0,
 '2020-4-30': 1,
 '2020-11-30': 0,
 '2020-5-30': 1,
 '2020-6-30': 1,
 '2020-7-30': 1,
 '2020-8-30': 1,
 '2020-9-30': 1,
 '2020-10-30': 1,
 '2020-12-30': 0,
 '2020-5-31': 0,
 '2020-6-31': 0,
 '2020-7-31': 0,
 '2020-8-31': 0,
 '2020-9-31': 0,
 '2020-10-31': 0,
 '2020-11-31': 0,
 '2020-12-31': 0,
 '2020-3-32': 5,
 '2020-7-32': 1,
 '2020-4-32': 5,
 '2020-5-32': 1,
 '2020-6-32': 1,
 '2020-8-32': 1,
 '2020-9-32': 1,
 '2020-10-32': 1,
 '2020-11-32': 1,
 '2020-12-32': 1,
 '2020-8-35': 1,
 '2020-3-33': 5,
 '2020-4-33': 5,
 '2020-5-33': 1,
 '2020-6-34': 0,
 '2020-6-33': 1,
 '2020-7-33': 1,
 '2020-8-33': 1,
 '2020-9-33': 1,
 '2020-10-33': 1,
 '2020-11-33': 1,
 '2020-12-33': 1,
 '2020-7-35': 1,
 '2020-7-34': 0,
 '2020-3-35': 1,
 '2020-3-34': 5,
 '2020-4-34': 5,
 '2020-5-34': 5,
 '2020-8-34': 0,
 '2020-9-34': 0,
 '2020-10-34': 0,
 '2020-11-34': 0,
 '2020-12-34': 0,
 '2020-4-35': 1,
 '2020-5-35': 1,
 '2020-6-35': 1,
 '2020-9-35': 1,
 '2020-10-35': 1,
 '2020-11-35': 1,
 '2020-12-35': 1,
 '2020-3-37': 5,
 '2020-3-36': 3,
 '2020-4-36': 3,
 '2020-5-36': 3,
 '2020-6-36': 3,
 '2020-7-36': 3,
 '2020-8-36': 3,
 '2020-9-36': 3,
 '2020-10-36': 3,
 '2020-11-36': 3,
 '2020-12-36': 3,
 '2020-4-37': 5,
 '2020-5-37': 1,
 '2020-6-37': 1,
 '2020-7-37': 1,
 '2020-8-37': 1,
 '2020-9-37': 1,
 '2020-10-37': 1,
 '2020-11-37': 1,
 '2020-12-37': 1,
 '2020-4-38': 0,
 '2020-5-38': 0,
 '2020-6-38': 0,
 '2020-7-38': 0,
 '2020-8-38': 0,
 '2020-9-38': 0,
 '2020-10-38': 0,
 '2020-11-38': 0,
 '2020-3-38': 0,
 '2020-12-38': 0,
 '2020-3-39': 5,
 '2020-4-39': 5,
 '2020-5-39': 1,
 '2020-6-39': 1,
 '2020-7-39': 1,
 '2020-8-39': 1,
 '2020-9-39': 1,
 '2020-10-39': 1,
 '2020-11-39': 1,
 '2020-12-39': 1,
 '2020-7-40': 0,
 '2020-8-40': 0,
 '2020-6-40': 1,
 '2020-3-40': 3,
 '2020-4-40': 3,
 '2020-5-40': 1,
 '2020-9-40': 1,
 '2020-10-40': 1,
 '2020-11-40': 1,
 '2020-12-40': 1,
 '2020-3-41': 5,
 '2020-4-41': 5,
 '2020-6-41': 1,
 '2020-5-41': 1,
 '2020-7-41': 1,
 '2020-9-41': 1,
 '2020-8-41': 1,
 '2020-10-41': 1,
 '2020-11-41': 1,
 '2020-12-41': 0,
 '2020-3-42': 4,
 '2020-4-42': 5,
 '2020-5-42': 0,
 '2020-12-42': 1,
 '2020-6-42': 0,
 '2020-7-42': 0,
 '2020-8-42': 0,
 '2020-9-42': 0,
 '2020-10-42': 0,
 '2020-11-42': 1,
 '2020-3-44': 5,
 '2020-3-45': 0,
 '2020-4-45': 5,
 '2020-4-44': 5,
 '2020-5-44': 1,
 '2020-6-44': 1,
 '2020-7-44': 1,
 '2020-8-44': 1,
 '2020-9-44': 1,
 '2020-10-44': 1,
 '2020-11-44': 1,
 '2020-12-44': 1,
 '2020-5-45': 1,
 '2020-6-45': 1,
 '2020-7-45': 1,
 '2020-8-45': 0,
 '2020-9-45': 0,
 '2020-10-45': 0,
 '2020-11-45': 0,
 '2020-12-45': 0,
 '2020-4-46': 1,
 '2020-7-46': 0,
 '2020-5-46': 1,
 '2020-8-46': 0,
 '2020-9-46': 0,
 '2020-6-46': 0,
 '2020-3-46': 1,
 '2020-10-46': 0,
 '2020-11-46': 0,
 '2020-12-46': 0,
 '2020-3-47': 1,
 '2020-4-47': 1,
 '2020-5-47': 1,
 '2020-6-47': 1,
 '2020-7-47': 1,
 '2020-8-47': 1,
 '2020-9-47': 0,
 '2020-10-47': 0,
 '2020-11-47': 0,
 '2020-12-47': 0,
 '2020-3-48': 0,
 '2020-4-48': 1,
 '2020-5-48': 1,
 '2020-12-48': 1,
 '2020-6-48': 1,
 '2020-7-48': 1,
 '2020-8-48': 1,
 '2020-9-48': 1,
 '2020-11-48': 1,
 '2020-10-48': 1,
 '2020-3-50': 5,
 '2020-3-51': 5,
 '2020-3-49': 1,
 '2020-4-49': 1,
 '2020-5-49': 0,
 '2020-6-49': 0,
 '2020-7-49': 0,
 '2020-8-49': 0,
 '2020-9-49': 0,
 '2020-10-49': 0,
 '2020-11-49': 0,
 '2020-9-50': 1,
 '2020-12-49': 0,
 '2020-8-50': 1,
 '2020-3-53': 5,
 '2020-12-51': 0,
 '2020-3-55': 5,
 '2020-4-50': 5,
 '2020-5-50': 1,
 '2020-6-50': 1,
 '2020-7-50': 1,
 '2020-10-50': 1,
 '2020-11-50': 1,
 '2020-12-50': 1,
 '2020-4-51': 5,
 '2020-5-51': 0,
 '2020-6-51': 0,
 '2020-7-51': 0,
 '2020-8-51': 0,
 '2020-9-51': 0,
 '2020-10-51': 0,
 '2020-11-51': 0,
 '2020-3-56': 0,
 '2020-4-56': 0,
 '2020-5-56': 0,
 '2020-6-56': 0,
 '2020-7-56': 0,
 '2020-8-56': 0,
 '2020-9-56': 0,
 '2020-10-56': 0,
 '2020-11-56': 0,
 '2020-12-56': 0,
 '2020-11-53': 1,
 '2020-4-53': 5,
 '2020-5-53': 4,
 '2020-6-53': 4,
 '2020-7-53': 1,
 '2020-8-53': 1,
 '2020-9-53': 1,
 '2020-10-53': 1,
 '2020-12-53': 1,
 '2020-3-54': 5,
 '2020-4-54': 5,
 '2020-12-55': 1,
 '2020-5-54': 1,
 '2020-6-54': 1,
 '2020-7-54': 1,
 '2020-8-54': 1,
 '2020-9-54': 1,
 '2020-10-54': 1,
 '2020-11-54': 1,
 '2020-12-54': 1,
 '2020-11-55': 1,
 '2020-4-55': 5,
 '2020-5-55': 0,
 '2020-6-55': 0,
 '2020-7-55': 0,
 '2020-8-55': 0,
 '2020-9-55': 0,
 '2020-10-55': 0,
 '2020-3-60': 0,
 '2020-4-60': 0,
 '2020-5-60': 0,
 '2020-6-60': 0,
 '2020-7-60': 0,
 '2020-8-60': 0,
 '2020-9-60': 0,
 '2020-10-60': 0,
 '2020-11-60': 0,
 '2020-12-60': 0,
 '2020-3-66': 1,
 '2020-4-66': 1,
 '2020-5-66': 1,
 '2020-6-66': 1,
 '2020-7-66': 1,
 '2020-8-66': 5,
 '2020-9-66': 1,
 '2020-10-66': 1,
 '2020-3-69': 1,
 '2020-11-66': 1,
 '2020-12-66': 1,
 '2020-4-69': 1,
 '2020-5-69': 1,
 '2020-6-69': 1,
 '2020-7-69': 1,
 '2020-8-69': 1,
 '2020-9-69': 1,
 '2020-10-69': 1,
 '2020-11-69': 1,
 '2020-12-69': 1,
 '2020-3-72': 5,
 '2020-4-72': 5,
 '2020-5-72': 5,
 '2020-6-72': 0,
 '2020-7-72': 0,
 '2020-8-72': 0,
 '2020-9-72': 0,
 '2020-10-72': 0,
 '2020-11-72': 0,
 '2020-12-72': 0,
 '2020-3-78': 5,
 '2020-4-78': 5,
 '2020-5-78': 1,
 '2020-6-78': 1,
 '2020-7-78': 1,
 '2020-8-78': 5,
 '2020-9-78': 1,
 '2020-10-78': 1,
 '2020-11-78': 1,
 '2020-12-78': 1,
 '2021-1-01': 1,
 '2021-2-01': 1,
 '2021-3-01': 1,
 '2021-4-01': 0,
 '2021-5-01': 0,
 '2021-6-01': 0,
 '2021-7-01': 0,
 '2021-8-01': 0,
 '2021-1-02': 0,
 '2021-2-02': 0,
 '2021-3-02': 0,
 '2021-4-02': 0,
 '2021-5-02': 0,
 '2021-6-02': 0,
 '2021-7-02': 0,
 '2021-8-02': 0,
 '2021-1-04': 0,
 '2021-2-04': 0,
 '2021-3-04': 0,
 '2021-4-04': 0,
 '2021-5-04': 0,
 '2021-6-04': 0,
 '2021-7-04': 0,
 '2021-8-04': 0,
 '2021-1-05': 0,
 '2021-2-05': 0,
 '2021-3-05': 0,
 '2021-4-05': 0,
 '2021-5-05': 0,
 '2021-6-05': 0,
 '2021-7-05': 0,
 '2021-8-05': 0,
 '2021-1-06': 0,
 '2021-2-06': 0,
 '2021-3-06': 0,
 '2021-4-06': 0,
 '2021-5-06': 0,
 '2021-6-06': 0,
 '2021-7-06': 0,
 '2021-8-06': 0,
 '2021-1-08': 1,
 '2021-2-08': 1,
 '2021-3-08': 1,
 '2021-4-08': 0,
 '2021-5-08': 0,
 '2021-6-08': 0,
 '2021-7-08': 0,
 '2021-8-08': 0,
 '2021-1-09': 0,
 '2021-2-09': 0,
 '2021-3-09': 0,
 '2021-4-09': 0,
 '2021-5-09': 0,
 '2021-6-09': 0,
 '2021-7-09': 0,
 '2021-8-09': 0,
 '2021-1-10': 1,
 '2021-2-10': 0,
 '2021-3-10': 0,
 '2021-4-10': 0,
 '2021-5-10': 0,
 '2021-6-10': 0,
 '2021-7-10': 0,
 '2021-8-10': 0,
 '2021-1-11': 0,
 '2021-2-11': 0,
 '2021-3-11': 0,
 '2021-4-11': 0,
 '2021-5-11': 0,
 '2021-6-11': 0,
 '2021-7-11': 0,
 '2021-8-11': 0,
 '2021-1-12': 0,
 '2021-2-12': 0,
 '2021-3-12': 0,
 '2021-4-12': 0,
 '2021-5-12': 0,
 '2021-6-12': 0,
 '2021-7-12': 0,
 '2021-8-12': 0,
 '2021-1-13': 3,
 '2021-2-13': 3,
 '2021-3-13': 3,
 '2021-4-13': 0,
 '2021-5-13': 0,
 '2021-6-13': 0,
 '2021-7-13': 0,
 '2021-8-13': 0,
 '2021-1-15': 1,
 '2021-2-15': 1,
 '2021-3-15': 1,
 '2021-4-15': 1,
 '2021-5-15': 1,
 '2021-6-15': 1,
 '2021-7-15': 1,
 '2021-8-15': 1,
 '2021-1-16': 1,
 '2021-2-16': 0,
 '2021-3-16': 0,
 '2021-4-16': 0,
 '2021-5-16': 0,
 '2021-6-16': 0,
 '2021-7-16': 0,
 '2021-8-16': 0,
 '2021-1-17': 1,
 '2021-2-17': 1,
 '2021-3-17': 1,
 '2021-4-17': 1,
 '2021-5-17': 1,
 '2021-6-17': 0,
 '2021-7-17': 0,
 '2021-8-17': 0,
 '2021-1-18': 1,
 '2021-2-18': 1,
 '2021-3-18': 1,
 '2021-4-18': 0,
 '2021-5-18': 0,
 '2021-6-18': 0,
 '2021-7-18': 0,
 '2021-8-18': 0,
 '2021-1-19': 1,
 '2021-2-19': 1,
 '2021-3-19': 1,
 '2021-4-19': 1,
 '2021-5-19': 0,
 '2021-6-19': 0,
 '2021-7-19': 0,
 '2021-8-19': 0,
 '2021-1-20': 0,
 '2021-2-20': 0,
 '2021-3-20': 0,
 '2021-4-20': 0,
 '2021-5-20': 0,
 '2021-6-20': 0,
 '2021-7-20': 0,
 '2021-8-20': 0,
 '2021-1-21': 1,
 '2021-2-21': 1,
 '2021-3-21': 1,
 '2021-4-21': 1,
 '2021-5-21': 1,
 '2021-6-21': 1,
 '2021-7-21': 1,
 '2021-8-21': 1,
 '2021-1-22': 1,
 '2021-2-22': 1,
 '2021-3-22': 1,
 '2021-4-22': 1,
 '2021-5-22': 1,
 '2021-6-22': 1,
 '2021-7-22': 1,
 '2021-8-22': 1,
 '2021-1-23': 1,
 '2021-2-23': 1,
 '2021-3-23': 1,
 '2021-4-23': 1,
 '2021-5-23': 1,
 '2021-6-23': 0,
 '2021-7-23': 0,
 '2021-8-23': 0,
 '2021-1-24': 0,
 '2021-2-24': 0,
 '2021-3-24': 0,
 '2021-4-24': 0,
 '2021-5-24': 0,
 '2021-6-24': 0,
 '2021-7-24': 0,
 '2021-8-24': 0,
 '2021-1-25': 0,
 '2021-2-25': 0,
 '2021-3-25': 0,
 '2021-4-25': 0,
 '2021-5-25': 0,
 '2021-6-25': 0,
 '2021-7-25': 0,
 '2021-8-25': 0,
 '2021-1-26': 0,
 '2021-2-26': 0,
 '2021-3-26': 0,
 '2021-4-26': 0,
 '2021-5-26': 0,
 '2021-6-26': 0,
 '2021-7-26': 0,
 '2021-8-26': 0,
 '2021-1-27': 1,
 '2021-2-27': 1,
 '2021-3-27': 1,
 '2021-4-27': 1,
 '2021-5-27': 1,
 '2021-6-27': 0,
 '2021-7-27': 0,
 '2021-8-27': 0,
 '2021-1-28': 0,
 '2021-2-28': 0,
 '2021-3-28': 0,
 '2021-4-28': 0,
 '2021-5-28': 0,
 '2021-6-28': 0,
 '2021-7-28': 0,
 '2021-8-28': 0,
 '2021-1-29': 0,
 '2021-2-29': 0,
 '2021-3-29': 0,
 '2021-4-29': 0,
 '2021-5-29': 0,
 '2021-6-29': 0,
 '2021-7-29': 0,
 '2021-8-29': 0,
 '2021-1-30': 0,
 '2021-2-30': 0,
 '2021-3-30': 0,
 '2021-4-30': 0,
 '2021-5-30': 0,
 '2021-6-30': 0,
 '2021-7-30': 0,
 '2021-8-30': 0,
 '2021-1-31': 0,
 '2021-2-31': 0,
 '2021-3-31': 0,
 '2021-4-31': 0,
 '2021-5-31': 0,
 '2021-6-31': 0,
 '2021-7-31': 0,
 '2021-8-31': 0,
 '2021-1-32': 1,
 '2021-2-32': 1,
 '2021-3-32': 1,
 '2021-4-32': 1,
 '2021-5-32': 1,
 '2021-6-32': 1,
 '2021-7-32': 1,
 '2021-8-32': 1,
 '2021-1-33': 1,
 '2021-2-33': 1,
 '2021-3-33': 1,
 '2021-4-33': 1,
 '2021-5-33': 1,
 '2021-6-33': 0,
 '2021-7-33': 0,
 '2021-8-33': 0,
 '2021-1-34': 0,
 '2021-2-34': 0,
 '2021-3-34': 0,
 '2021-4-34': 0,
 '2021-5-34': 0,
 '2021-6-34': 0,
 '2021-7-34': 0,
 '2021-8-34': 0,
 '2021-1-35': 1,
 '2021-2-35': 1,
 '2021-3-35': 1,
 '2021-4-35': 1,
 '2021-5-35': 1,
 '2021-6-35': 1,
 '2021-7-35': 0,
 '2021-8-35': 0,
 '2021-1-36': 3,
 '2021-2-36': 3,
 '2021-3-36': 3,
 '2021-4-36': 3,
 '2021-5-36': 3,
 '2021-6-36': 3,
 '2021-7-36': 3,
 '2021-8-36': 3,
 '2021-1-37': 1,
 '2021-2-37': 0,
 '2021-3-37': 0,
 '2021-4-37': 0,
 '2021-5-37': 0,
 '2021-6-37': 0,
 '2021-7-37': 0,
 '2021-8-37': 0,
 '2021-1-38': 0,
 '2021-2-38': 0,
 '2021-3-38': 0,
 '2021-4-38': 0,
 '2021-5-38': 0,
 '2021-6-38': 0,
 '2021-7-38': 0,
 '2021-8-38': 0,
 '2021-1-39': 1,
 '2021-2-39': 1,
 '2021-3-39': 1,
 '2021-4-39': 1,
 '2021-5-39': 1,
 '2021-6-39': 0,
 '2021-7-39': 0,
 '2021-8-39': 0,
 '2021-1-40': 1,
 '2021-2-40': 0,
 '2021-3-40': 0,
 '2021-4-40': 0,
 '2021-5-40': 0,
 '2021-6-40': 0,
 '2021-7-40': 0,
 '2021-8-40': 0,
 '2021-1-41': 0,
 '2021-2-41': 0,
 '2021-3-41': 0,
 '2021-4-41': 0,
 '2021-5-41': 0,
 '2021-6-41': 0,
 '2021-7-41': 0,
 '2021-8-41': 0,
 '2021-1-42': 0,
 '2021-2-42': 0,
 '2021-3-42': 0,
 '2021-4-42': 0,
 '2021-5-42': 0,
 '2021-6-42': 0,
 '2021-7-42': 0,
 '2021-8-42': 0,
 '2021-1-44': 1,
 '2021-2-44': 1,
 '2021-3-44': 1,
 '2021-4-44': 1,
 '2021-5-44': 0,
 '2021-6-44': 0,
 '2021-7-44': 0,
 '2021-8-44': 0,
 '2021-1-45': 0,
 '2021-2-45': 0,
 '2021-3-45': 0,
 '2021-4-45': 0,
 '2021-5-45': 0,
 '2021-6-45': 0,
 '2021-7-45': 0,
 '2021-8-45': 0,
 '2021-1-46': 0,
 '2021-2-46': 0,
 '2021-3-46': 0,
 '2021-4-46': 0,
 '2021-5-46': 0,
 '2021-6-46': 0,
 '2021-7-46': 0,
 '2021-8-46': 0,
 '2021-1-47': 0,
 '2021-2-47': 0,
 '2021-3-47': 0,
 '2021-4-47': 0,
 '2021-5-47': 0,
 '2021-6-47': 0,
 '2021-7-47': 0,
 '2021-8-47': 0,
 '2021-1-48': 1,
 '2021-2-48': 1,
 '2021-3-48': 0,
 '2021-4-48': 0,
 '2021-5-48': 0,
 '2021-6-48': 0,
 '2021-7-48': 0,
 '2021-8-48': 0,
 '2021-1-49': 0,
 '2021-2-49': 0,
 '2021-3-49': 0,
 '2021-4-49': 0,
 '2021-5-49': 0,
 '2021-6-49': 0,
 '2021-7-49': 0,
 '2021-8-49': 0,
 '2021-1-50': 1,
 '2021-2-50': 1,
 '2021-3-50': 1,
 '2021-4-50': 1,
 '2021-5-50': 0,
 '2021-6-50': 0,
 '2021-7-50': 0,
 '2021-8-50': 0,
 '2021-1-51': 0,
 '2021-2-51': 0,
 '2021-3-51': 0,
 '2021-4-51': 0,
 '2021-5-51': 0,
 '2021-6-51': 0,
 '2021-7-51': 0,
 '2021-8-51': 0,
 '2021-1-53': 1,
 '2021-2-53': 1,
 '2021-3-53': 1,
 '2021-4-53': 1,
 '2021-5-53': 1,
 '2021-6-53': 0,
 '2021-7-53': 0,
 '2021-8-53': 0,
 '2021-1-54': 1,
 '2021-2-54': 1,
 '2021-3-54': 1,
 '2021-4-54': 0,
 '2021-5-54': 0,
 '2021-6-54': 0,
 '2021-7-54': 0,
 '2021-8-54': 0,
 '2021-1-55': 1,
 '2021-2-55': 1,
 '2021-3-55': 1,
 '2021-4-55': 1,
 '2021-5-55': 1,
 '2021-6-55': 1,
 '2021-7-55': 1,
 '2021-8-55': 1,
 '2021-1-56': 0,
 '2021-2-56': 0,
 '2021-3-56': 0,
 '2021-4-56': 0,
 '2021-5-56': 0,
 '2021-6-56': 0,
 '2021-7-56': 0,
 '2021-8-56': 0,
 '2021-1-60': 0,
 '2021-2-60': 0,
 '2021-3-60': 0,
 '2021-4-60': 0,
 '2021-5-60': 0,
 '2021-6-60': 0,
 '2021-7-60': 0,
 '2021-8-60': 0,
 '2021-1-66': 1,
 '2021-2-66': 1,
 '2021-3-66': 1,
 '2021-4-66': 1,
 '2021-5-66': 1,
 '2021-6-66': 1,
 '2021-7-66': 1,
 '2021-8-66': 1,
 '2021-1-69': 1,
 '2021-2-69': 1,
 '2021-3-69': 1,
 '2021-4-69': 1,
 '2021-5-69': 1,
 '2021-6-69': 1,
 '2021-7-69': 1,
 '2021-8-69': 1,
 '2021-1-72': 0,
 '2021-2-72': 0,
 '2021-3-72': 0,
 '2021-4-72': 0,
 '2021-5-72': 0,
 '2021-6-72': 0,
 '2021-7-72': 0,
 '2021-8-72': 0,
 ...}

In [78]:
master.head()

,YMFIPS,YEAR,MONTH,FIPS,STATE,LOCATION,TBIRTH_YEAR,EEDUC,THHLD_NUMPER,THHLD_NUMKID,...,DOWN,MORTLMTH,MORTCONF,KINDWORK,CDCCOUNT,REMPCT,people_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated,people_fully_vaccinated_per_hundred
0,2021-9-01,2021,SEP,1,AL,Alabama,1941,7,1,0,...,1,-88,-88,-88,4,0.032,2583590.0,52.69,2089852.0,42.62
1,2021-9-01,2021,SEP,1,AL,Alabama,1973,4,3,0,...,1,1,4,5,6,0.032,2583590.0,52.69,2089852.0,42.62
2,2021-9-13,2021,SEP,13,GA,Georgia,1970,4,1,0,...,3,1,3,-88,1,0.043,5828605.0,54.90,4823331.0,45.43
3,2021-9-01,2021,SEP,1,AL,Alabama,1969,3,6,2,...,1,-88,-88,2,-88,0.032,2583590.0,52.69,2089852.0,42.62
4,2021-9-01,2021,SEP,1,AL,Alabama,1977,4,3,1,...,4,-88,-88,4,-88,0.032,2583590.0,52.69,2089852.0,42.62

In [89]:
def get_lockdown(ymfips):
    
    try:
        lockdown = lock_dict[ymfips]
    except:
        lockdown = 0
    
    return lockdown

In [90]:
master['lockdown'] = master['YMFIPS'].apply(lambda x: get_lockdown(x))

In [92]:
master['lockdown'].value_counts()

0    1624299
1    1346565
3     115770
4      29855
5      15216
Name: lockdown, dtype: int64

In [93]:
master.to_csv("CummulatedClean_Nov22/1_CMaster_HPS_CDC_CPS_Vaccinated_3131705_with_lock.csv")

In [94]:
master_2 = pd.read_csv("CummulatedClean_Nov22/3_1_new_CMaster_H_C_C_V_Rem_AWDWI_2502286.csv")

/Users/dev/miniforge3/envs/ml4t/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [95]:
master_2.head()

,YMFIPS,YEAR,MONTH,FIPS,STATE,LOCATION,TBIRTH_YEAR,EEDUC,THHLD_NUMPER,THHLD_NUMKID,...,MORTLMTH,MORTCONF,KINDWORK,INCOME,CDCCOUNT,REMPCT,people_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated,people_fully_vaccinated_per_hundred
0,2021-9-01,2021,SEP,1,AL,Alabama,1941,7,1,0,...,-88,-88,-88,4,44878.0,0.032,2583590.0,52.69,2089852.0,42.62
1,2021-9-01,2021,SEP,1,AL,Alabama,1973,4,3,0,...,1,4,5,6,44878.0,0.032,2583590.0,52.69,2089852.0,42.62
2,2021-9-13,2021,SEP,13,GA,Georgia,1970,4,1,0,...,1,3,-88,1,58816.0,0.043,5828605.0,54.90,4823331.0,45.43
3,2021-9-02,2021,SEP,2,AK,Alaska,1965,4,2,0,...,-88,-88,3,7,7180.0,0.048,419056.0,57.28,370114.0,50.59
4,2021-9-02,2021,SEP,2,AK,Alaska,1983,7,1,0,...,-88,4,1,6,7180.0,0.048,419056.0,57.28,370114.0,50.59

In [96]:
master_2['lockdown'] = master_2['YMFIPS'].apply(lambda x: get_lockdown(x))

In [97]:
master_2.head()

,YMFIPS,YEAR,MONTH,FIPS,STATE,LOCATION,TBIRTH_YEAR,EEDUC,THHLD_NUMPER,THHLD_NUMKID,...,MORTCONF,KINDWORK,INCOME,CDCCOUNT,REMPCT,people_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated,people_fully_vaccinated_per_hundred,lockdown
0,2021-9-01,2021,SEP,1,AL,Alabama,1941,7,1,0,...,-88,-88,4,44878.0,0.032,2583590.0,52.69,2089852.0,42.62,0
1,2021-9-01,2021,SEP,1,AL,Alabama,1973,4,3,0,...,4,5,6,44878.0,0.032,2583590.0,52.69,2089852.0,42.62,0
2,2021-9-13,2021,SEP,13,GA,Georgia,1970,4,1,0,...,3,-88,1,58816.0,0.043,5828605.0,54.90,4823331.0,45.43,0
3,2021-9-02,2021,SEP,2,AK,Alaska,1965,4,2,0,...,-88,3,7,7180.0,0.048,419056.0,57.28,370114.0,50.59,0
4,2021-9-02,2021,SEP,2,AK,Alaska,1983,7,1,0,...,4,1,6,7180.0,0.048,419056.0,57.28,370114.0,50.59,0

In [98]:
master_2['lockdown'].unique()

array([0, 3, 1, 5, 4])

In [99]:
master_2.to_csv("CummulatedClean_Nov22/3_1_new_CMaster_H_C_C_V_Rem_AWDWI_2502286_with_lock.csv")

In [101]:
master_3 = pd.read_csv("CummulatedClean_Nov22/3_2_new_CMaster_HCCV_Rem_AWDWI_no_KMM_2502286.csv")

/Users/dev/miniforge3/envs/ml4t/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [102]:
master_3['lockdown'] = master_3['YMFIPS'].apply(lambda x: get_lockdown(x))

In [103]:
master_3.to_csv("CummulatedClean_Nov22/3_2_new_CMaster_HCCV_Rem_AWDWI_no_KMM_2502286_with_lock.csv")

In [105]:
master_4 = pd.read_csv("CummulatedClean_Nov22/4_1_new_CMaster_HCCV_Rem_AWDWI_KINDWRK_1464252.csv")

In [106]:
master_4['lockdown'] = master_4['YMFIPS'].apply(lambda x: get_lockdown(x))

In [107]:
master_4.head()

,YMFIPS,YEAR,MONTH,FIPS,STATE,LOCATION,TBIRTH_YEAR,EEDUC,THHLD_NUMPER,THHLD_NUMKID,...,DOWN,KINDWORK,INCOME,CDCCOUNT,REMPCT,people_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated,people_fully_vaccinated_per_hundred,lockdown
0,2021-9-01,2021,SEP,1,AL,Alabama,1973,4,3,0,...,1,5,6,44878.0,0.032,2583590.0,52.69,2089852.0,42.62,0
1,2021-9-02,2021,SEP,2,AK,Alaska,1965,4,2,0,...,2,3,7,7180.0,0.048,419056.0,57.28,370114.0,50.59,0
2,2021-9-02,2021,SEP,2,AK,Alaska,1983,7,1,0,...,1,1,6,7180.0,0.048,419056.0,57.28,370114.0,50.59,0
3,2021-9-29,2021,SEP,29,MO,Missouri,1989,5,4,2,...,2,2,2,50.0,0.045,3366091.0,54.85,2941505.0,47.93,0
4,2021-9-02,2021,SEP,2,AK,Alaska,1989,7,4,2,...,1,3,5,7180.0,0.048,419056.0,57.28,370114.0,50.59,0

In [108]:
master_4['lockdown'].unique()

array([0, 3, 1, 5, 4])

In [109]:
master_4.to_csv("CummulatedClean_Nov22/4_1_new_CMaster_HCCV_Rem_AWDWI_KINDWRK_1464252_with_lock.csv")

In [110]:
master_5  = pd.read_csv("CummulatedClean_Nov22/4_2_new_CMaster_HCCV_Rem_AWDWI_MORTHCONF_1829379.csv")

/Users/dev/miniforge3/envs/ml4t/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [112]:
master_5['lockdown'] = master_5['YMFIPS'].apply(lambda x: get_lockdown(x))

In [113]:
master_5.to_csv("CummulatedClean_Nov22/4_2_new_CMaster_HCCV_Rem_AWDWI_MORTHCONF_1829379_with_lock.csv")

In [115]:
master_6  = pd.read_csv("CummulatedClean_Nov22/4_3_new_CMaster_HCCV_Rem_AWDWI_MORTLMNTH_1472272.csv")

In [116]:
master_6['lockdown'] = master_6['YMFIPS'].apply(lambda x: get_lockdown(x))

In [118]:
master_6.to_csv("CummulatedClean_Nov22/4_3_new_CMaster_HCCV_Rem_AWDWI_MORTLMNTH_1472272_with_lock.csv")

In [120]:
master_7 = pd.read_csv("CummulatedClean_Nov22_with_lock/0_CMaster2_HPS_CDC_CPS_Vaccinated.csv")

In [121]:
master_7['lockdown'] = master_7['YMFIPS'].apply(lambda x: get_lockdown(x))

In [122]:
master_7.to_csv("CummulatedClean_Nov22_with_lock/0_CMaster2_HPS_CDC_CPS_Vaccinated_with_lock.csv")